.new-rundown-option {
	background: transparent;
	border-radius: 1rem;
	border: 2px solid #4e4f59;
	color: white;
	padding: 1.5rem 2.5rem;
	display: flex;
	align-items: center;
	width: 35rem;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	&:hover {
		background: rgba(255, 255, 255, 0.05);
	}

	.icon {
		svg {
			height: 3.8rem;
			width: 3.8rem;

			path {
				stroke: #a8aaba;
			}
		}
	}
	.label {
		margin-left: 2rem;
	}
}
