.log {
    flex: 1;
	position: relative;
	z-index: -1;
	box-sizing: border-box;

	.content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0.5em 0.5em 1em 0.5em;
	}
}

.logEntry {
	overflow-wrap: break-word;
	white-space: pre-wrap;

	&__level {
		&.error {
			color: #f14c4c;
		}

		&.warn {
			color: #e9e940;
		}
	}
}
