@import '../../../../../styles/foundation/all';

$background-color: #464646;
$background-color-selected: lighten(
	$color: $background-color,
	$amount: 20,
);

.layer-name {
	height: $layerHeight;
	position: relative;
	margin-bottom: 1px;

	&:nth-child(odd) {
		background: #222630;
	}

	&:not(:last-child) {
		border-bottom: 1px;
		border-color: #2d3340;
		border-bottom-style: solid;
	}

	&.warning {
		background: $invalidLayerColor;
	}

	.warning-icon {
		cursor: help;
		position: relative;
		top: 3px;
		left: 2px;
	}
}

.layer-names-dropdown {
	position: relative;

	&.selectable {
		cursor: pointer;
		.mapping:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}

	&.open {
		.selected-mapping {
			// background-color: rgba(255, 255, 255, 0.1);
			border-bottom: none;
		}
		.mappings-dropdown-selector {
			display: block;
			border-radius: 0 0 0.4rem 0.4rem;
			box-shadow: 0 0 10px #000;
		}
	}

	.warning-icon {
		margin-right: 0.3rem;
		flex-shrink: 0;
	}

	.mappings-dropdown-selector {
		border: 0.1rem solid #545a78;
		border-top: none;
		display: none;
		position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		z-index: $dropdown-selector-zIndex;
		background: $background-color;
	}

	.mapping {
		padding: 0 0.3rem;
		font-size: 1.4rem;
		font-size: 1.4rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: $layerHeight;

		&.selected {
			// display: block;
			// font-weight: bold;
			background: lighten($color: $background-color, $amount: 20);
		}

		&.edit-mappings {
			border-top: 1px solid #fff;
			padding-top: 1em;
			padding-bottom: 1em;
			text-align: center;
		}

		&-label {
			min-width: 0;
			flex-shrink: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-left: auto;
		}
	}
}
