$borderColor: rgba(176, 176, 176, 0.5);

.rounded-section-message {
	// MUI Switch
	.switch {
		display: block !important;
		text-align: center;
		margin: 0 !important;
		padding: 0 !important;
		padding-bottom: 2rem !important;
		background: transparent !important;

		.MuiSwitch-root {
			// display: block;
			margin-bottom: -0.5rem;
		}

		.MuiTypography-root {
			display: block;
		}
	}
}

.rounded-section {
	margin-bottom: 2rem;
	position: relative;
	margin-top: 1.2rem;

	> .header {
		display: flex;
		align-items: center;
		width: 100%;
		position: absolute;
		top: -1.2rem;
		padding: 0 1.4rem;
		height: 2.4rem;

		> .title {
			flex-grow: 0;
			padding: 0 1rem;
			font-size: 1.4rem;
			font-weight: 700;
			color: rgba(255, 255, 255, 0.8);
		}

		> .controls {
			margin-right: 1rem;
		}

		> .fake-border {
			height: 0.1rem;
			flex-grow: 1;
			background: $borderColor;
		}

		> button.help {
			padding: 0;
			background: transparent;
			color: $borderColor;
			border: 0;
			margin-top: 0.4rem;

			&:hover,
			&.open {
				color: #a5a5a5;
			}

			svg {
				width: 1.6rem;
				height: 1.6rem;
			}
		}
	}

	> .border-cropper {
		overflow: hidden;

		> .border {
			border-radius: 2rem;
			border: 1px solid $borderColor;
			padding: 3rem 0 2.5rem;
			margin-top: -0.1rem;

			> .message-wrapper {
				padding: 0rem 2rem 2rem 2rem;
			}

			> .central {
				padding: 2rem;
				text-align: center;
			}
		}
	}
}
