$borderColor: rgba(176, 176, 176, 0.5);

.sc-switch {
	display: flex;
	align-items: center;

	.react-toggle-track {
		width: 40px;
		height: 20px;
		background-color: #bcbcc0;
	}

	// When hovered
	.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
		background-color: #8c8c90;
	}

	// When checked
	.react-toggle--checked:not(.react-toggle--disabled) .react-toggle-track {
		//background-color: #47ae6b;
		background: #bcbcc0;
	}

	// When checked and hovered
	.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
		//background-color: #63d38a;
		background-color: #8c8c90;
	}

	.react-toggle-thumb {
		width: 15px;
		height: 15px;
		top: 2px;
		left: 3px;
		background: #1b1c26;
		box-shadow: none !important;
		border: none !important;
	}

	.react-toggle-track-check {
		left: 6px;
		top: 2px;
		svg {
			width: 11px;
			height: 9px;
			path {
				fill: #1b1c26;
			}
		}
	}

	.react-toggle-track-x {
		right: 5px;
		top: 2px;
		svg {
			width: 8px;
			height: 8px;
			path {
				fill: #1b1c26;
			}
			stroke-width: 0;
		}
	}

	.react-toggle--checked .react-toggle-thumb {
		left: 22px;
	}
}

.rounded-section {
	margin-bottom: 2rem;
	position: relative;
	margin-top: 1.2rem;

	.bottom-controls {
		padding: 1rem;
		text-align: center;
		color: rgba(255, 255, 255, 0.8);
		font-size: 1.4rem;
		margin-top: 2rem;
	}

	> .header {
		display: flex;
		align-items: center;
		width: 100%;
		position: absolute;
		top: -1.2rem;
		padding: 0 1.4rem;
		height: 2.4rem;

		> .title {
			flex-grow: 0;
			padding: 0 1rem;
			font-size: 1.4rem;
			font-weight: 700;
			color: rgba(255, 255, 255, 0.8);
			display: flex;
			align-items: center;

			img {
				margin-right: 0.7rem;
			}
		}

		> .controls {
			margin-right: 1rem;
		}

		> .fake-border {
			height: 0.1rem;
			flex-grow: 1;
			background: $borderColor;
		}


	}

	> .border-cropper {
		overflow: hidden;

		> .border {
			border-radius: 2rem;
			border: 1px solid $borderColor;
			padding: 3rem 0 2.5rem;
			margin-top: -0.1rem;

			> .message-wrapper {
				padding: 0rem 2rem 2rem 2rem;
			}

			> .central {
				padding: 1rem;
				text-align: center;
				color: rgba(255, 255, 255, 0.8);
				font-size: 1.4rem;
			}
		}
	}
}
