.sidebar.resource-library {
	> .sidebar__header {
		button.refresh {
			border: 0;
			background: transparent;
			padding: 0;
			margin: 0;
			cursor: pointer;
		}

		.refresh-resources {
			position: absolute;
			right: 0.6em;
			top: 0.6em;
			z-index: 1;
			background: $sidebar-background;

			button {
				border: 0;
				padding: 0.25em;
				margin: 0;
				text-transform: none;
				cursor: pointer;
				height: 32px;
				white-space: nowrap;

				&.on-hover {
					display: none;
				}
				&.selected {
					visibility: inherit;
					display: inherit;
				}
			}
			&:hover,
			&.hover {
				button.on-hover {
					display: inherit;
					&.selected {
						background-color: rgba(255, 255, 255, 0.1);
					}
				}
			}
		}
	}

	> .sidebar__content {
		> div {
			padding: 0 0.6em;
		}
	}

	.refresh.active {
		svg {
			animation: rotating 2s linear infinite;

			@keyframes rotating {
				from {
					transform: rotate(360deg);
				}
				to {
					transform: rotate(0deg);
				}
			}
		}
	}
}
