.sidebar {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	>.sidebar__header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		// height is set programatically

		padding: 0.5em;

		z-index: 1;

		.title {
			font-size: 1.2rem;
			text-transform: uppercase;
			margin-bottom: 0.5rem;
			font-weight: bold;
			display: flex;
			justify-content: space-between;
			padding: 0 0.6em;


		}

	}
	>.sidebar__content {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		// top is set programatically

		z-index: 1;

		overflow-y: auto;
		overflow-x: hidden;
		// padding: 0 0.6em;
	}




}

/*
.sidebar {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;

	&.edit-timeline-obj {
		border-bottom: 1px solid silver;
		margin: 1.5rem 0;
	}

	&.resource-library {
		padding: 1.5rem 0;
	}


	.sep {
		width: 100%;
		height: 1px;
		background: silver;
	}

	.title {
		font-size: 1.8rem;
		margin-bottom: 2rem;
		font-weight: bold;
		padding: 0 0.6em;
	}

	.content {
		overflow: auto;
	}

	.template-data {
		.title {
			font-weight: bold;
		}
	}

	.add-to-timeline {
		.label {
			font-size: 1.2rem;
			margin-bottom: 0.5rem;
			color: silver;
		}

		.dropdowns {
			display: flex;

			select {
				flex-basis: 50%;

				&:not(:last-child) {
					margin-right: 1rem;
				}
			}
		}
	}

	hr {
		border-color: black;

		&:last-of-type {
			display: none;
		}
	}

	table {
		width: 100%;
		border-collapse: collapse;

		img.thumbnail {
			max-width: 5rem;
			max-height: 3rem;
		}

		td,
		th {
			font-size: 1.2rem;
			padding: 0.5rem 0.7rem;
			width: 50%;
			text-align: left;
			overflow: hidden;
			box-sizing: border-box;
		}

		td {
			white-space: nowrap;
			max-width: 8rem;
		}

		th {
			background-color: $accentBg;
			text-transform: uppercase;
			color: $accentText;
			font-size: 1.1rem;
		}

		tr {
			background-color: #000000;
		}

		tr:nth-child(even) {
			background-color: #1f1f1f;
		}

		&.selectable {
			td {
				cursor: pointer;
			}

			tr:hover {
				background-color: #272727;
			}

			tr.selected {
				background-color: $accentBg;
			}
		}

		&.editable {
			td {
				padding: 0;
			}

			input {
				background: transparent;
				color: white;
				border: 0;
				font-size: 1.2rem;
				box-sizing: border-box;
				width: 100%;
				outline: 0;
				padding: 0.5rem 0.7rem;

				&:focus {
					box-shadow: inset 0px 0px 0px 2px rgba(155, 155, 155, 0.75);
				}
			}

			.delete {
				border: 0;
				background: transparent;
				padding: 0;
				opacity: 0.7;
				margin: 0 0.5rem;

				&:not([disabled]) {
					cursor: pointer;

					&:hover {
						opacity: 1;
					}
				}
			}

			thead tr th:first-child,
			tbody tr td:first-child {
				width: 8rem;
				min-width: 8rem;
				max-width: 8rem;
				word-break: break-all;
			}
		}

		&.template-data {
			thead tr th:not(:first-child),
			tbody tr td:not(:first-child) {
				width: 100%;
				min-width: 100%;
				max-width: 100%;
				word-break: break-all;
			}
		}
	}
	*/


// }


@import './resource-library.scss';
