@import './global.scss';
@import './variables.scss';

/* width */
::-webkit-scrollbar {
	width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #1b1e26;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #414757;
	border-radius: 0.4rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #4f5668;
}

.app {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $mainBg;

	// display: flex;
	// align-items: stretch;
	// height: 100vh;
	// box-sizing: border-box;

	$sidebar-width: 30rem;
	$top-header-height: 3rem;

	display: grid;
	grid-template-columns: 1fr 0fr;
	grid-template-rows: 0fr 1fr;
	grid-template-areas:
		'top top'
		'main sidebar';

	> .header-bar {
		grid-area: top;
		box-shadow: 0px 4px 5px 0px #191b23;
	}
	> .main-area {
		grid-area: main;
		// background: $mainBg;
		overflow: auto;
	}
	> .side-bar {
		grid-area: sidebar;
		// background-color: $sidebarBg;
		width: 30rem;
		overflow: auto;
		position: relative;
		background: $sidebar-background;
		border-left: 1px solid rgba(255, 255, 255, 0.1);
	}

	*:not(input) {
		user-select: none;
	}
}

.app-loading {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 1em;
	width: 1em;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path fill='none' d='M0 0h24v24H0z'></path><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'></path></svg>");
	cursor: pointer;
}

@import './btn.scss';
@import './table.scss';
@import './sidebar/sidebar.scss';
@import './group-list.scss';

@import './group.scss';
@import './part.scss';
@import './layer.scss';
@import './countDownHead.scss';
@import './playHead.scss';
@import './resourceLibrary.scss';
@import './timeline-obj.scss';
@import './settings.scss';
@import './connection-status.scss';
@import './device-list.scss';
@import './drop-zone.scss';
@import './peripheral-settings.scss';
@import './trigger.scss';
