@import './globals.scss';

.app {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	// display: flex;
	// align-items: stretch;
	// height: 100vh;
	// box-sizing: border-box;

	$top-header-height: 3rem;
	$sidebar-width: 30rem;

	> .top-header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: $top-header-height;

		overflow: hidden;

		background-color: $topheaderBg;
	}
	> .main-area {
		position: absolute;
		top: $top-header-height;
		bottom: 0;
		left: 0;
		right: $sidebar-width;

		overflow-x: auto;
		overflow-y: auto;

		background: $mainBg;
	}
	> .side-bar {
		position: absolute;
		top: $top-header-height;
		bottom: 0;
		right: 0;
		width: $sidebar-width;

		overflow-x: auto;
		overflow-y: auto;

		background-color: $sidebarBg;
	}

	*:not(input) {
		user-select: none;
	}
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 1em;
	width: 1em;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path fill='none' d='M0 0h24v24H0z'></path><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'></path></svg>");
	cursor: pointer;
}

@import './btn.scss';
@import './sidebar.scss';
@import './group-list.scss';

@import './group.scss';
@import './part.scss';
@import './layer.scss';
@import './countDownHead.scss';
@import './playHead.scss';
@import './top-header.scss';
@import './resourceLibrary.scss';
@import './timeline-obj.scss';
@import './infoGroup.scss';
@import './settings.scss';
@import './connection-status.scss';
@import './device-list.scss';
@import './drop-zone.scss';
