.btn--small {
	// Override the min-width and padding that MUI provides by default.
	min-width: 0 !important;
	padding: 6px !important;
}

.btn-row-equal {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}

.btn-row-left {
	text-align: left;
	margin-top: 1.5rem;
}

.btn-row-right {
	text-align: right;
	margin-top: 1.5rem;
}
