.connection-status {
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
	color: $deviceOfflineColor;
	font-size: 1.2rem;
	text-decoration: none;

	&__dot {
		margin-left: 0.35rem;
		border-radius: 50%;
		width: 0.8rem;
		height: 0.8rem;
		background-color: $deviceOfflineColor;
		flex-shrink: 0;

		&.ok {
			background-color: $deviceOnlineColor;
		}
	}
	&.clickable:hover,
	&.open {
		background-color: rgba(255, 255, 255, 0.05);
	}

	&.ok {
		color: $deviceOnlineColor;

		.connection-status__dot {
			background-color: $deviceOnlineColor;
		}
	}
}
