.group {
	border: 0.1rem solid $partOutlineColor;
	position: relative;
	margin: 2rem 0 1.5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;

	&:not(:last-child) {
		margin-bottom: 2.5rem;
	}

	&__header {
		position: absolute;
		top: 0;
		transform: translateY(-50%);
		left: 2rem;
		background-color: $partOutlineColor;
		display: flex;
		align-items: center;
		font-size: 1.3rem;
		padding: 0.2rem 0.5rem;

		.title {
			margin-right: 1rem;
		}

		.controls {
			display: flex;
			align-items: center;

			.toggle {
				flex-shrink: 0;
				margin: 0 1rem;
				display: flex;
				align-items: center;

				label {
					margin: -0.5rem;
					font-size: 1rem;
				}

				.toggle-label {
					margin-left: 0.5rem;
				}
			}

			button {
				margin-left: 1rem;
			}
		}
	}

	&__content {
		padding: 0.5rem 1rem 0;
	}
}
