.group {
	border: 0.1rem solid $partOutlineColor;
	position: relative;
	margin: 2rem 0 1.5rem;
	padding-top: 0.4rem;
	padding-bottom: 2rem;
	background: #2c2c2c;
	border-radius: calc($partTabWidth / 2);

	&:not(:last-child) {
		margin-bottom: 2.5rem;
	}

	&__header {
		display: flex;
		align-items: center;
		font-size: 1.4rem;
		padding: 0.2rem 0.5rem 0.2rem 0.4rem;

		&:hover {
			.MuiToggleButton-sizeSmall:not(.Mui-selected) {
				opacity: 0.2;
			}
		}

		.collapse {
			position: relative;
			top: 3px;

			> svg {
				cursor: pointer;
			}

			&:not(.collapse--collapsed) {
				> svg {
					transform: rotate(90deg);
				}
			}
		}

		.title,
		.edit-title {
			margin-right: 1rem;
			font-family: 'Barlow';
			font-weight: 700;
			width: 10.8rem;
		}

		.title {
			cursor: text;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.controls {
			display: flex;
			align-items: center;
			flex-grow: 1;

			& > * {
				margin-right: 0.6rem;
			}

			.playback {
				flex-shrink: 0;

				& > * {
					margin-right: 0.6rem;
				}

				.playcount {
					position: absolute;
					bottom: -12px;
					right: 0;
					color: white;
				}
			}

			.delete {
				flex-shrink: 0;
				margin-left: auto;
			}
		}
	}

	&__content {
		padding: 0.5rem 1rem 0;
	}

	&.disabled {
		.group__header {
			.title {
				opacity: 0.5;
			}
		}
	}

	&.collapsed {
		padding-bottom: 0.4rem;
	}

	&.dragging {
		border: 1px solid white;
		border-top: 0;
		display: block;
		overflow: visible;
		padding: 0;
		border-radius: 0;

		> * {
			display: none;
		}

		> .group__dragArrow {
			display: block;
		}
	}

	&__dragArrow {
		display: none;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-100%, -50%);
		width: 0;
		height: 0;
		border-top: $partDragIndicatorSize solid transparent;
		border-bottom: $partDragIndicatorSize solid transparent;
		border-left: $partDragIndicatorSize solid white;
	}

	&__drag-handle {
		cursor: grab;
	}
}
