$group-background: #2c2c2c;
$margin-v: 2rem;
.group {
	border: 0.1rem solid $partOutlineColor;
	position: relative;
	margin: $margin-v 0;
	padding-top: 0.4rem;
	padding-bottom: 2rem;
	background: $group-background;
	border-radius: calc($partTabWidth / 2);
	transition: box-shadow $default-transition-time;

	&--transparent {
		margin: $margin-v 0;

		.part.dragging {
			padding: 0;
			margin-top: calc(0px - 2rem);
			top: 1rem;
		}
	}
	&.selectable {
		cursor: pointer;
		&:hover {
			background: #252525;
		}
		.group__content__parts {
			cursor: initial;
			// pointer-events: none;
		}
	}
	&.selected {
		box-shadow: inset 0px 0px 0px 3px #ffffff85;
	}

	&__header {
		display: flex;
		align-items: center;
		font-size: 1.4rem;
		padding: 0.2rem 0.5rem 0.2rem 0.4rem;

		&:hover {
			.MuiToggleButton-sizeSmall:not(.Mui-selected) {
				opacity: 0.4;
			}
		}

		.collapse {
			position: relative;
			top: 3px;

			> svg {
				cursor: pointer;
			}

			&:not(.collapse--collapsed) {
				> svg {
					transform: rotate(90deg);
				}
			}
		}

		.title-container {
			width: 10.8rem;
			.title,
			.edit-title {
				margin-right: 1rem;
				font-family: 'Barlow';
				font-weight: 700;
				max-width: 10.8rem;
			}

			.title {
				cursor: text;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
			}
		}

		.controls {
			display: flex;
			align-items: center;
			& > * {
				margin-right: 0.6rem;
			}
			&.controls-left {
				cursor: initial;
				.playback {
					flex-shrink: 0;

					& > * {
						margin-right: 0.6rem;
					}
				}
			}
			&.controls-space {
				flex-grow: 1;
			}
			&.controls-right {
				cursor: initial;
				.duplicate {
					flex-shrink: 0;
					margin-left: auto;
				}

				.delete {
					flex-shrink: 0;
				}
			}
		}

		.schedule-countdown {
			width: 15em;
			position: absolute;
			left: 10em;
			height: 1.2em;
			top: -1.2em;

			> div {
				background: $group-background;
				padding: 0 0.5em;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			border-top: 0.1rem solid $partOutlineColor;
			border-left: 0.1rem solid $partOutlineColor;
			border-right: 0.1rem solid $partOutlineColor;

			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
	}

	&__content {
		padding: 0.5rem 1rem 0;
	}

	&.disabled {
		color: #999;
		.group__header {
			.title {
				opacity: 0.5;
			}
		}
	}

	&.collapsed {
		padding-bottom: 0.4rem;
	}

	&.dragging {
		border: 1px solid white;
		border-top: 0;
		display: block;
		overflow: visible;
		padding: 0;
		border-radius: 0;

		margin-top: calc(-1px - $margin-v);
		top: calc($margin-v / 2);

		&:first-child {
			// margin-top: 0 !important;

			margin-top: -1px;
			top: calc($margin-v / 2);
		}

		> * {
			display: none;
		}

		> .group__dragArrow {
			display: block;
		}
	}

	&__dragArrow {
		display: none;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-100%, -50%);
		width: 0;
		height: 0;
		border-top: $partDragIndicatorSize solid transparent;
		border-bottom: $partDragIndicatorSize solid transparent;
		border-left: $partDragIndicatorSize solid white;
	}

	&__drag-handle {
		cursor: grab;
	}
}
