.info-group {
	margin-bottom: 2rem;
	width: 100%;

	& > .title {
		font-size: 1.2rem;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
		font-weight: bold;
		display: flex;
		justify-content: space-between;
		padding: 0 0.6em;

		button.refresh {
			border: 0;
			background: transparent;
			padding: 0;
			margin: 0;
			cursor: pointer;
		}
	}
	& > .content {
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0 0.6em;

		.title {
			margin-left: -0.6em;
		}
	}

	.refresh.active {
		svg {
			animation: rotating 2s linear infinite;

			@keyframes rotating {
				from {
					transform: rotate(360deg);
				}
				to {
					transform: rotate(0deg);
				}
			}
		}
	}

	.refresh-resources {
		min-height: 32px;
		>button {
			border: 0;
			// background: transparent;
			padding: 0.25em;
			margin: 0;
			text-transform: none;
			cursor: pointer;

			&.on-hover {
				// visibility: hidden;
				display: none;
			}
			&.selected {
				visibility: inherit;
				display: inherit;
			}
		}
		&:hover {
			>button.on-hover {
				// visibility: visible;
				display: inherit;
			}
		}
	}
}

.row {
	display: flex;
	margin-bottom: 1rem;

	.label {
		flex-basis: 50%;
		flex-grow: 0;
		flex-shrink: 0;
		opacity: 0.7;
		font-size: 1.3rem;
		display: flex;
		align-items: center;
	}
	.value {
		flex-basis: 50%;
		flex-grow: 0;
		flex-shrink: 0;
		font-size: 1.3rem;
		box-sizing: border-box;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	/* We don't need these since we are using MUI */
	// .label,
	// label {
	// 	flex-basis: 50%;
	// 	flex-grow: 0;
	// 	flex-shrink: 0;
	// 	opacity: 0.7;
	// 	font-size: 1.3rem;
	// 	display: flex;
	// 	align-items: center;
	// }
	// .value,
	// input,
	// select {
	// 	flex-basis: 50%;
	// 	flex-grow: 0;
	// 	flex-shrink: 0;
	// 	font-size: 1.3rem;
	// 	box-sizing: border-box;
	// 	overflow: hidden;
	// 	text-overflow: ellipsis;
	// }

	// input {
	// 	background-color: black;
	// 	border: 0;
	// 	color: silver;
	// 	padding: 0.3rem;
	// 	overflow: hidden;
	// }

	// select {
	// 	background-color: black;
	// 	color: silver;
	// 	border: 0;
	// 	padding: 0.5rem 0;
	// }
}
