@import './objectTypeStyling.scss';

.layer {
	width: 100%;
	height: $layerHeight;
	background: $emptyLayerColor;
	position: relative;
	display: flex;

	&:not(:last-child) {
		margin-bottom: 1px;
	}

	&:nth-child(odd) {
		.layer__content {
			background: #222630;
		}
	}

	&__content {
		position: relative;
		flex: 1;

		.object {
			height: $layerHeight;
			display: flex;
			align-items: center;
			background: silver;
			position: absolute;
			padding: 0 0.5rem;
			box-sizing: border-box;
			cursor: pointer;
			transition: $default-transition;
			border-radius: $borderRadius;
			justify-content: space-between;
			overflow: hidden;
			min-width: calc($timelineObjHandleWidth * 2);

			&:hover {
				opacity: 0.8;
			}

			&.selected {
				box-shadow: inset 0px 0px 0px 3px #ffffff85;
				z-index: 1;
			}

			&.moved {
				transition: none;
			}

			&.isAtMinWidth {
				.handle {
					pointer-events: none;
				}
			}

			&.locked {
				.handle {
					pointer-events: none;
				}
			}

			.body {
				flex-grow: 1;
				flex-shrink: 1;
				min-width: 0;
				display: flex;
				justify-content: space-between;
			}

			.title,
			.duration {
				font-size: 1.4rem;
				text-shadow: 0 0 4px #00000080;
				white-space: nowrap;
			}

			.title {
				font-weight: 600;
				flex-shrink: 1;
				min-width: 0;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.duration {
				font-family: 'Barlow Condensed';
				font-variant-numeric: tabular-nums;
				font-weight: 500;
				color: rgba(255, 255, 255, 0.7);
				flex-shrink: 0;
				margin-left: 1rem;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.handle {
				position: absolute;
				top: 0;
				height: 100%;
				width: $timelineObjHandleWidth;
				box-sizing: border-box;
				border-style: solid;
				border-width: 1px;
				border-color: white;
				opacity: 0.33;

				&--left {
					left: 0;
					border-right-width: 0;
					border-top-left-radius: $borderRadius;
					border-bottom-left-radius: $borderRadius;
					cursor: w-resize;
				}

				&--right {
					right: 0;
					border-left-width: 0;
					border-top-right-radius: $borderRadius;
					border-bottom-right-radius: $borderRadius;
					cursor: e-resize;
				}
			}

			@include useObjectTypeStyles();
		}
	}
}
// Don't transition when moving:
.layers.moving {
	.layer {
		.layer__content {
			.object {
				transition: none;
			}
		}
	}
}
