@import './global.scss';

@mixin useObjectTypeStyles() {
	&.template {
		background: $templateLayerColor;
	}

	&.media {
		background: $mediaLayerColor;
	}

	&.me,
	&.OUTPUT {
		background: $mixEffectLayerColor;
	}

	&.dsk {
		background: $downstreamKeyerLayerColor;
	}

	&.aux {
		background: $auxiliaryLayerColor;
	}

	&.ssrc {
		background: $superSourceLayerColor;
	}

	&.ssrcProps {
		background: $superSourcePropsLayerColor;
	}

	&.macroPlayer {
		background: $macroPlayerLayerColor;
	}

	&.audioChan {
		background: $audioLayerColor;
	}

	&.mp {
		background: $mediaPlayerLayerColor;
	}

	&.CURRENT_SCENE {
		background: $currentSceneLayerColor;
	}

	&.CURRENT_TRANSITION {
		background: $currentTransitionLayerColor;
	}

	&.MUTE {
		background: $muteLayerColor;
	}

	&.RECORDING {
		background: $recordingLayerColor;
	}

	&.SCENE_ITEM_RENDER {
		background: $sceneItemRenderLayerColor;
	}

	&.STREAMING {
		background: $streamingLayerColor;
	}

	&.SOURCE_SETTINGS {
		background: $sourceSettingsLayerColor;
	}

	&.INPUT {
		background: $inputLayerColor;
	}

	&.PROGRAM {
		background: $programLayerColor;
	}

	&.AUDIO {
		background: $audioLayerColor;
	}

	&.OVERLAY {
		background: $overlayLayerColor;
	}
}
