@import './global.scss';

@mixin useObjectTypeStyles() {
	&.template {
		background: $templateLayerColor;
	}

	&.media {
		background: $mediaLayerColor;
	}

	&.me {
		background: $mixEffectLayerColor;
	}

	&.dsk {
		background: $downstreamKeyerLayerColor;
	}
}
