.part {
	display: flex;
	position: relative;
	margin-top: 2px;

	&:first-child {
		.part__drag-handle {
			border-top-left-radius: calc($partDragHandleWidth / 2);
		}
	}

	&:last-child {
		.part__drag-handle {
			border-bottom-left-radius: calc($partDragHandleWidth / 2);
		}
	}

	&.active {
		border-color: $partActiveColor;
		background-color: $partActiveBg;
	}
	&.queued {
		border-color: $partQueuedColor;
		background-color: $partQueuedBg;
	}
	&.dragging {
		opacity: 0.35;
	}

	&__drag-handle {
		display: flex;
		justify-content: center;
		// align-items: center;
		background-color: $partDragHandleColor;
		cursor: grab;
		width: $partDragHandleWidth;
		box-sizing: border-box;
		padding-top: 0.6rem;
		color: $partDragHandleIconColor;
	}

	&__meta {
		background-color: $partMetaColor;
		padding: 1rem 1.5rem 1rem 0.4rem;
		width: 17rem;
		flex-shrink: 0;

		&__top {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__bottom {
			display: flex;
			justify-content: space-between;
		}

		& .title {
			margin-bottom: 1rem;
			margin-right: 1rem;
			font-weight: 400;
			font-size: 1.4rem;
			overflow-wrap: break-word;
			min-width: 1px;
			flex-shrink: 1;
		}

		& .controls {
			display: flex;
			justify-content: end;
			align-self: flex-end;
			margin-left: 1.2rem;

			& > *:not(:last-child) {
				margin-right: 0.3rem;
			}
		}

		& .part__playStop {
			align-self: flex-start;
			flex-shrink: 0;
		}
	}

	&__layer-names {
		background: $emptyLayerColor;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		padding: 0.3rem 0;
		font-family: 'Barlow Condensed';
		max-width: 100px;
		border-right: 1px;
		border-color: black;
		border-right-style: solid;

		&__name {
			display: flex;
			justify-content: end;
			align-items: center;
			height: $layerHeight;
			padding: 0 0.3rem;
			font-size: 1.2rem;
			color: #9c9c9c;
			white-space: nowrap;
			box-sizing: border-box;
			min-width: 0;
			flex-shrink: 1;

			> span {
				min-width: 0;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			&:nth-child(odd) {
				background: #222630;
			}

			&:not(:last-child) {
				border-bottom: 1px;
				border-color: #2d3340;
				border-bottom-style: solid;
			}
		}
	}

	&__timeline {
		flex-grow: 1;
		padding: 0.3rem 0;
		position: relative;
		background-color: #222630;

		& > .layers-wrapper {
			position: relative;
			height: 100%;
			overflow: hidden;
		}
		& > .countdown-overlay {
			position: absolute;
			top: 0.3rem;
			left: 0.3rem;
			bottom: 0.3rem;
			right: 0.3rem;
			pointer-events: none;
		}

		&__current-time {
			position: absolute;
			transform: translateY(-100%);
			left: 0;
			font-size: 1.3rem;
			margin-top: -1.2rem;
			color: white;
			background-color: $accentBg;
			padding: 0.2rem 0.5rem;

			z-index: 11;
		}
		&__remaining-time {
			position: absolute;
			transform: translateY(-100%);
			right: 0;
			font-size: 1.3rem;
			margin-top: -1.2rem;
			color: white;
			background-color: $accentBg;
			padding: 0.2rem 0.5rem;

			z-index: 12;
		}

		&__duration {
			position: absolute;
			transform: translateY(-100%);
			right: 0;
			font-size: 1.3rem;
			margin-top: -1.2rem;

			z-index: 10;
		}
	}

	&__triggers {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 0.75em;
		margin-left: -0.4rem;
	}

	.control--hoverOnly {
		display: none;
	}

	&:hover {
		.control--hoverOnly {
			display: unset;
		}
	}
}

.trigger {
	&:not(:last-child) {
		margin-bottom: 0.1rem;
	}

	.label {
		display: flex;
		align-items: center;
		font-family: 'Barlow Condensed';
		font-size: 10px;
		line-height: 12px;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}

		&__key {
			color: black;
			background: #49d3ff;
			box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
			border-radius: 2px;
			padding: 0 0.3rem;

			&--keyboard {
				font-family: 'Barlow Semi Condensed';
				font-weight: 600;
				background: #aaa99e;
			}

			&__text {
				display: block;
				transform: translateY(-1px);
			}
		}

		&__plus {
			margin: 0 0.2rem;

			&:last-child {
				display: none;
			}
		}
	}
}

.trigger__buttons {
	display: flex;
	align-items: center;
	justify-content: end;
	margin: 0.25em 0;
	padding: 1rem;

	&__triggerType {
		margin-left: 0.5em;
	}
}
