$line-width: 0.2rem;

.playHead {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	height: 100%;
	right: $line-width;
	pointer-events: none;

	.head {
		background-color: $redColor;
		position: absolute;
		transform: translateX(-50%) translateY(-100%);
		font-size: 1.2rem;
		padding: 0.2rem 0.3rem;
		margin-left: 0.1rem;
	}

	.line {
		height: 100%;
		width: $line-width;
		background-color: $redColor;
		position: absolute;
	}

	.shade {
		position: absolute;
		top: 0;
		width: 33%;
		height: 100%;
		background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 100%);
	}
}
