.resource {
	display: flex;
	box-shadow: inset 0px 0px 0px 0px #ffffff85;
	transition: $default-transition;
	padding: 0.2em;
	border-radius: 5px;
	color: #cdcdcd;
	font-size: 1.4rem;
	line-height: 1.4;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	@include useObjectTypeStyles();

	&.selected {
		box-shadow: inset 0px 0px 0px 3px #ffffff85;
	}

	&.dragged {
		opacity: 0.5;
	}

	&__details {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-shrink: 1;
		min-width: 0;
		padding-right: 0.2rem;
	}

	&__name {
		color: white;
		word-wrap: break-word;
		flex-shrink: 1;
		min-width: 0;
	}

	&__attributes {
		display: grid;
		grid-template-columns: 3em repeat(2, 1fr);
		grid-gap: 0.5rem;
		align-self: stretch;
	}
}

.thumbnail {
	color: white;
	width: 71px;
	height: 40px;
	margin-left: 0.1rem;
	margin-right: 0.4rem;
	border-radius: 5px;
	flex-shrink: 0;
}
