.MuiModal-root {
	.settings {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2rem;

		> .MuiDivider-fullWidth {
			width: 100%;
		}
	}
}

.side-bar {
	.settings {
		.setting-separator {
			height: 1em;
		}
		.settings-group {
			padding: 0.5em 0 0.5em 0.5em;
			border-left: 2px solid rgba(255, 255, 255, 0.25);
		}
	}
}
