.MuiModal-root {
	.settings {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2rem;

		> .MuiDivider-fullWidth {
			width: 100%;
		}
	}
}

.side-bar {
	.settings {
		.setting-separator {
			height: 1em;
		}
		.settings-group {
			padding: 0 0 0 0.5em;
			margin: 0.25em 0;
			border-left: 2px solid rgba(255, 255, 255, 0.25);
		}
		.header {
			font-size: 125%;
		}
		.label {
			button.btn {
				float: right;
			}
		}
	}
}
