div.SnackbarContainer-root {
	.SnackbarItem-message {
		padding-top: 1em;
		p {
			margin: 0.25em;
		}
		button.close-btn {
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
		}
	}
}
