@use 'sass:color';

$normalBg: #505050;
$hoverBg: #616161;
$activeBg: #111111;

.header-bar {
	display: flex;
	align-items: stretch;

	.tabs {
		display: flex;
		align-items: flex-end;
		padding-top: 2rem;

		.tab {
			display: flex;
			align-items: stretch;
			height: 2rem;
			margin-right: 0.3rem;
			position: relative;

			&.active {
				.label,
				.close {
					background-color: $activeBg;
				}
				.tab-edge {
					fill: $activeBg;
				}
			}

			&:hover .close {
				display: block;
			}

			&:hover:not(&.active) {
				.label,
				.close {
					background-color: $hoverBg;
				}
				.tab-edge {
					fill: $hoverBg;
				}
			}

			.label {
				font-size: 1.2rem;
				display: flex;
				padding: 0 0.7rem;
				background-color: $normalBg;
				min-width: 7rem;
			}
			.tab-edge {
				fill: $normalBg;
			}

			.close {
				position: absolute;
				top: 0.4rem;
				right: 0.6rem;
				line-height: 0;
				display: flex;
				align-items: center;
				display: none;

				button {
					padding: 0;
					background: transparent;
					border: 0;
					cursor: pointer;
				}

				svg {
					fill: white;
				}
			}
		}

		.new-tab-button {
			border-radius: 50%;
			width: 1.7rem;
			height: 1.7rem;
			background: transparent;
			position: relative;
			border: 0;
			cursor: pointer;

			svg {
				position: absolute;
				fill: white;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&:hover {
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}

	.device-statuses {
		margin-left: auto;
		display: flex;
	}
}
