@import './globals.scss';

.app {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	// display: flex;
	// align-items: stretch;
	// height: 100vh;
	// box-sizing: border-box;

	$top-header-height: 3rem;
	$sidebar-width: 30rem;

	> .top-header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: $top-header-height;

		overflow: hidden;

		background-color: $topheaderBg;
	}
	> .main-area {
		position: absolute;
		top: $top-header-height;
		bottom: 0;
		left: 0;
		right: $sidebar-width;

		overflow-x: auto;
		overflow-y: auto;

		background-color: $mainBg;
	}
	> .side-bar {
		position: absolute;
		top: $top-header-height;
		bottom: 0;
		right: 0;
		width: $sidebar-width;

		overflow-x: auto;
		overflow-y: auto;

		background-color: $sidebarBg;
	}
}

@import './btn.scss';
@import './sidebar.scss';
@import './table.scss';
@import './group-list.scss';
@import './popup.scss';

@import './group.scss';
@import './part.scss';
@import './layer.scss';
@import './countDownHead.scss';
@import './playHead.scss';
@import './top-header.scss';
