.app {
	display: flex;
	align-items: stretch;
	height: 100vh;
	box-sizing: border-box;
}

@import './globals.scss';

@import './btn.scss';
@import './sidebar.scss';
@import './table.scss';
@import './group-list.scss';
@import './popup.scss';

@import './group.scss';
@import './rundown.scss';
@import './layer.scss';
@import './playHead.scss';
