.btn {
	border: 0;
	cursor: pointer;

	&:focus {
		box-shadow: 0px 0px 0px 3px #ffffff85;
	}

	&:disabled {
		opacity: 0.33;
	}

	&.play,
	&.stop {
		width: 3.4rem;
		height: 2.6rem;
		padding: 0.3rem 0.7rem;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
	}

	&.play {
		background-color: $accentBg;
		&:hover {
			background-color: $accentLightBg;
		}
	}

	&.stop {
		background-color: $redColor;
		&:hover {
			background-color: $lightRedColor;
		}
	}

	&.queue,
	&.un-queue {
		// display: flex;
		align-items: center;
		background-color: $accentBg;
		color: white;
		cursor: pointer;

		span.label {
			width: 5em;
			display: inline-block;
		}

		&:hover {
			background-color: $accentLightBg;
		}
	}

	&.un-group {
		background-color: $accentBg;
		padding: 0.3rem 0.7rem;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;

		&:hover {
			background-color: $accentLightBg;
		}
	}

	&.delete,
	&.trash {
		font-weight: bold;
		background-color: $redBg;
		border: 0;
		padding: 0.7rem 1.5rem;
		color: white;
		text-transform: uppercase;
		cursor: pointer;
		transition: $default-transition;
		display: flex;
		align-items: center;

		&:not(:disabled):hover {
			background-color: $redLightBg;
		}

		&:disabled {
			opacity: 0.6;
		}
	}

	&.form {
		font-weight: bold;
		background-color: $accentBg;
		border: 0;
		padding: 0.7rem 1.5rem;
		color: white;
		text-transform: uppercase;
		cursor: pointer;
		transition: $default-transition;

		&:not(:disabled):hover {
			background-color: $accentLightBg;
		}

		&:disabled {
			opacity: 0.6;
		}
	}
}
.btn-row-equal {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}

.btn-row-left {
	text-align: left;
	margin-top: 1.5rem;
}

.btn-row-right {
	text-align: right;
	margin-top: 1.5rem;
}
