$accentDarkBg: #d45f05;
$accentBg: #e96703;
$accentLightBg: #fa7713;
$accentText: white;

$silverBg: #4b4b4b;

$mediaLayerColor: #1769ff;
$templateLayerColor: #5fa852;
$movieLayerColor: #6817ff;
$stillLayerColor: #ffe817;
$audioLayerColor: #308579;

$greenColor: #5fa852;
$lightGreenColor: #76c469;
$darkGreenColor: #5ab44a;
$redColor: #c24242;
$redBg: #c24242;
$redLightBg: #d85353;
$lightRedColor: #d44e4e;

$mainFont: 'Trebuchet MS', 'Arial', sans-serif;
$rundownOutlineColor: #4b4b4b;

$layerHeight: 2.5rem;
$emptyLayerColor: #1f1f1f;

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	color: white;
	background-color: black;
	font-family: $mainFont;
}

input,
button,
textarea {
	font-family: $mainFont;
}
