.layer {
	width: 100%;
	height: $layerHeight;
	background: $emptyLayerColor;
	position: relative;

	&:not(:last-child) {
		margin-bottom: 0.3rem;
	}

	&__content {
		.object {
			height: $layerHeight;
			display: flex;
			align-items: center;
			background: silver;
			position: absolute;
			padding: 0 0.5rem;
			box-sizing: border-box;
			cursor: pointer;
			transition: all 150ms ease;

			&:hover {
				opacity: 0.8;
			}

			&.selected {
				box-shadow: inset 0px 0px 0px 3px #ffffff85;
			}

			&.template {
				background: $templateLayerColor;
			}

			&.media {
				background: $mediaLayerColor;
			}

			.title {
				font-size: 1.2rem;
			}
		}
	}
}
