.resource {
	display: grid;
	grid-template-rows: [header] min-content [attributes] min-content;
	grid-template-columns: [thumbnail] 2em [info] auto;
	box-shadow: inset 0px 0px 0px 0px #ffffff85;
	transition: $default-transition;

	@include useObjectTypeStyles();

	&.selected {
		box-shadow: inset 0px 0px 0px 3px #ffffff85;
	}

	&.dragged {
		opacity: 0.5;
	}
}
