.rundown {
	display: flex;
	border: 0.1rem solid $rundownOutlineColor;
	position: relative;

	margin-top: 2rem;

	&.active {
		border-color: $rundownActiveColor;
		background-color: $rundownActiveBg;
	}
	&.queued {
		border-color: $rundownQueuedColor;
		background-color: $rundownQueuedBg;
	}

	&__meta {
		background-color: $rundownOutlineColor;
		padding: 1rem 1.5rem;
		width: 20rem;
		flex-shrink: 0;

		& > .title {
			margin-bottom: 1rem;
		}

		& > .controls {
			display: flex;
			align-items: stretch;

			& > *:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}

	&__timeline {
		flex-grow: 1;
		padding: 0.3rem 0.3rem 0.3rem 0.3rem;
		position: relative;

		& > .layers-wrapper {
			position: relative;
			height: 100%;
			overflow: hidden;
		}
		& > .countdown-overlay {
			position: absolute;
			top: 0.3rem;
			left: 0.3rem;
			bottom: 0.3rem;
			right: 0.3rem;
			pointer-events: none;
		}

		&__current-time {
			position: absolute;
			transform: translateY(-100%);
			left: 0;
			font-size: 1.3rem;
			margin-top: -1.2rem;
			color: white;
			background-color: $accentBg;
			padding: 0.2rem 0.5rem;

			z-index: 11;
		}
		&__remaining-time {
			position: absolute;
			transform: translateY(-100%);
			right: 0;
			font-size: 1.3rem;
			margin-top: -1.2rem;
			color: white;
			background-color: $accentBg;
			padding: 0.2rem 0.5rem;

			z-index: 12;
		}

		&__duration {
			position: absolute;
			transform: translateY(-100%);
			right: 0;
			font-size: 1.3rem;
			margin-top: -1.2rem;

			z-index: 10;
		}
	}
}
