.layer {
	width: 100%;
	height: $layerHeight;
	background: $emptyLayerColor;
	position: relative;

	/* Colors */

	&.template .layer__content {
		background: #e96703;
	}

	&.media .layer__content {
		background: #1769ff;
	}

	&:not(:last-child) {
		margin-bottom: 0.3rem;
	}

	&__content {
		height: $layerHeight;
		display: flex;
		align-items: center;
		background: silver;
		position: absolute;
		padding: 0 0.5rem;
		box-sizing: border-box;

		.title {
			font-size: 1.2rem;
		}
	}
}
