.project-page-layout {
	display: flex;
	min-height: 0;

	.menubar {
		flex-grow: 0;
		width: 20rem;
		background-color: #313131;

		.item {
			padding: 1rem 1rem;
			font-size: 1.3rem;

			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}

			&.active {
				background: #111111;
			}
		}
	}

	.main {
		flex-grow: 1;
		overflow: auto;

		.title {
			padding: 1rem 1.5rem;
			font-size: 2rem;
		}

		.content {
			padding: 1.5rem;
		}
	}
}
