.disabled-peripherals {
	min-width: 20rem;

	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		color: white;
		padding: 1rem;
		cursor: pointer;

		&:hover {
			background: rgba(255, 255, 255, 0.05);
		}
	}
}
