/**
 *
 * All colors used for the SuperConductor UI
 *
 */

$accentDarkBg: #d45f05;
$accentBg: #e96703;
$accentLightBg: #fa7713;
$accentText: white;

$topheaderBg: #24203a;
$sidebarBg: black;
$mainBg: radial-gradient(50% 50% at 50% 50%, #2a2c3a 0%, #1a1b24 100%);

$mediaLayerColor: #2d4a80;
$templateLayerColor: #b26000;
$movieLayerColor: #6817ff;
$stillLayerColor: #ffe817;
$audioLayerColor: #308579;
$mixEffectLayerColor: #177400;
$downstreamKeyerLayerColor: #177400;
$auxiliaryLayerColor: #177400;
$superSourceLayerColor: #177400;
$superSourcePropsLayerColor: #177400;
$macroPlayerLayerColor: #177400;
$mediaPlayerLayerColor: #6817ff;
$programLayerColor: #74002c;
$currentSceneLayerColor: $programLayerColor;
$currentTransitionLayerColor: #74002c;
$muteLayerColor: #74002c;
$recordingLayerColor: #74002c;
$sceneItemRenderLayerColor: #74002c;
$streamingLayerColor: #74002c;
$sourceSettingsLayerColor: #74002c;
$inputLayerColor: #74002c;
$overlayLayerColor: $downstreamKeyerLayerColor;
$fadeToBlackLayerColor: #000000;
$videoFaderLayerColor: #177400;
$previewLayerColor: $auxiliaryLayerColor;
$oscLayerColor: #554054;
$httpLayerColor: #554054;
$transportLayerColor: #2d4a80;
$invalidLayerColor: #c24242;

$greenColor: #5fa852;
$lightGreenColor: #76c469;
$darkGreenColor: #5ab44a;
$redColor: red;
$redBg: #c24242;
$redLightBg: #d85353;
$lightRedColor: #d44e4e;

$lightGreenColor: #5afc3e;

$partOutlineColor: #5a5a5a;
$partDragHandleColor: #2d3340;
$partMetaColor: #2d3340;

$emptyLayerColor: #1b1e26;

$deviceOfflineColor: #ff0000;
$deviceOnlineColor: #148c00;

$headerTabNormalBg: #505050;
$headerTabHoverBg: #616161;
$headerTabActiveBg: #111111;
