.btn {
	border: 0;
	padding: 0.5rem 1rem;

	&.play,
	&.queue {
		display: flex;
		align-items: center;
		background-color: $greenColor;
		color: white;
		cursor: pointer;

		span {
			margin-right: 1rem;
		}

		&:focus {
			box-shadow: 0px 0px 0px 3px #2e7fdb85;
		}
	}
}
