@import '../../../../styles/foundation/all';

.tab {
	display: flex;
	align-items: stretch;
	height: 2rem;
	margin-right: 0.3rem;
	position: relative;

	&.active {
		.label,
		.close {
			background-color: $headerTabActiveBg;
		}
		.tab-edge {
			fill: $headerTabActiveBg;
		}
	}

	&:hover .close {
		display: block;
	}

	&:hover:not(&.active) {
		.label,
		.close {
			background-color: $headerTabHoverBg;
		}
		.tab-edge {
			fill: $headerTabHoverBg;
		}
	}

	.label {
		font-size: 1.2rem;
		display: flex;
		padding: 0 0.7rem;
		background-color: $headerTabNormalBg;
		min-width: 7rem;
	}
	.tab-edge {
		fill: $headerTabNormalBg;
	}

	.close {
		position: absolute;
		top: 0.4rem;
		right: 0.6rem;
		line-height: 0;
		display: flex;
		align-items: center;
		display: none;

		button {
			padding: 0;
			background: transparent;
			border: 0;
			cursor: pointer;
		}

		svg {
			fill: white;
		}
	}
}
